<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title> Student Nutrition</title>
</head>
<body>
	<h1>Student Nutrition</h1>
	<div>
		Leave a comment here:
	</div>
	<form action="/comment" method="post">
  	Comment:<br>
   	<input type="text" name="comment" size="80" /><br>
  	<input type="submit" value="Submit"/>
	</form>
	
	<br>
	<br>
	<div>
	All Comments:
	</div>
	<!-- Comments Start -->
	 <div th:each="map:${comments}">
	 <p th:text="${map.content}"></p>                          			
	 </div>
	 <!-- Blog Post End -->

	 
	
	
	
</body>
</html>